---
# comment
---

@import "variables";

.ionas-header-title {
	font-family: $righteous;
	padding: .5em .5em;
	font-size: 2em;
	color: green;
}

a {
	color: green;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
	cursor: default;
	color: white;
	background-color: black;
}


.nav > li > a:hover{
	color: white;
    background-color: green;
}






@import "highlights";
@import "svg-icons";
