---
# comment
---

@import "variables";

.ionas-header-title {
	font-family: $righteous;
	padding: .5em .5em;
	font-size: 2em;
	color: green;
}


.lang-img {
	width: 77px;
	padding: .5em;
	float: left;
}

.lang-training {
	border-radius: .7em;
	text-align: justify;
	padding: 1em;
}

.lang-training:hover {
	border: 1px solid green;
}

.cert-provider-img {
	width: 6em;
	padding: .5em;
	float: left;
}

a {
	color: green;
}


.lang-training a {
	color: black;
	text-decoration: none;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
	cursor: default;
	color: white;
	background-color: black;
}

.nav > li {
	margin-left: 1em;
}

.nav > li > a:hover{
	color: white;
    background-color: green;
}



@import "highlights";
@import "svg-icons";
