---
layout: default
categories: [java, oca, course]
permalink: /java/oca/
---

<div class="row marketing">
	<div class="col-sm-12">
		<h3>
			Java SE 8 Programmer I - 1Z0-808
		</h3>
		<br>
		<p class="lead text-justify">
			The Java SE 8 Oracle Certified Associate (OCA) certification is ideal for 
			those with a technical background who want to improve, or may be new to 
			object-orientated programming and Java. Candidates who earn their OCA are 
			in a great position to earn the Oracle Certified Professional certification (OCP).
		</p>
	</div>
</div>

<div class="row marketing">
	<div class="col-sm-12">

	{% for page in site.pages %}
		{% if page.categories contains 'java' and page.categories contains 'oca' and page.categories contains 'lesson' %}

		<div class="lang-training">
			<a href="{{ site.baseurl }}{{ page.permalink }}">
				<h4>{{ page.title }}</h4>
				<span>
					{{ page.description }}
					<br><br>
					<div class="btn btn-success">Get Started</div>
				<span>
			</a>
		</div>			

		{% endif %}
	{% endfor %}	
	
	</div>
</div>

